.Control-Buttons {
  margin: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  }
  
  .btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  
  .btn {
    font-size: 24px;
    border-radius: 14px;
    padding: 10px;
    margin: 0px 6px;
    border: 2px solid #450e0e;
    justify-content: center;
    align-items: center;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* width: 10vw; */
  /* height: 5vh; */
  /* display: flex; */
  cursor: pointer;
  }
  
  .btn-one{
    background-color: #e42a2a;
  }
  