.container {
  display: flex;
  /* align-items: flex-end; */
}

.input-container {
  display: flex;
  margin-right: 10px;
  gap: 10px;
}

.text-input {
  max-width: 200px;
}
@media (max-width: 680px) {
  .container {
    width: 100%;
    justify-content: flex-end;
  }
}
