[Unit]
Description=inFlight Bluetooth service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/inFlight/bins
ExecStart=/home/pi/inFlight/bins/jsm.crossing-detector-front
#Restart=always # or always, on-abort, etc
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
