.navigationBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  height: calc(100vh - 100px);
  background-color: white;
}

.navigationBlock h3 {
  font-size: 24px;
  line-height: 28.4px;
  font-weight: 600;
  margin-top: 20px;
  padding: 2px 25px;
  color: #562cff;
  border-left: 5px solid #562cff;
}

.navigationBlock__switcher {
  display: flex;
}

.navBlock {
  margin-top: 10px;
}

.navBtn {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 5px 48px;
  display: flex;
  justify-content: flex-start;
  border: none;
  cursor: pointer;
}

.navBtn_selected {
  font-weight: bold;
  color: #562cff;
  background-color: rgba(86, 44, 255, 0.1) !important;
}

.navBtn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
