[Unit]
Description=inFlight Client service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/inflight/frontend/server
ExecStart=/usr/bin/node /opt/inflight/frontend/server/server.js
#Restart=always # or always, on-abort, etc
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
